{
  "extends": ["airbnb", "plugin:prettier/recommended", "plugin:import/errors", "plugin:import/warnings"],
  "plugins": ["react", "import", "prettier"],
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style": "off",
    "no-debugger": "warn",
    "react/require-default-props": "warn"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["front"]
      }
    }
  }
}
