<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>ERN Task</title>
  <style id="jss-server-side"><%- css %></style>
</head>

<body>
  <div id="app">
    <%- html %>
  </div>
  <script>window.__INITIAL_STATE__ = <%- initialState %></script>
  <script src="react.js"></script>
</body>

</html>